<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank you for voting</title>
  </head>
  <body>
    <h1>{{title}}</h1>

    <p>Hi!,
      {{firstname}}
      {{lastname}}. Thank you for participating on
      {{election_title}}</p>

    <p>The election will end on
      {{election_end_date}}, and view the results when election is completed
      here in this
      <a href="{{election_result_link}}">link</a></p>

    <small>Dont send this email to anyone, and don't reply in this email. Thank
      you.</small>
  </body>
</html>