<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank you for voting</title>
  </head>
  <body>
    <h1>{{title}}</h1>

    <p>Hi!,
      {{firstname}}
      {{lastname}}. Thank you for participating on
      {{election_title}}</p>

    <p>The election will end on
      {{election_end_date}}, To view the result, click
      <a href="{{election_result_link}}"> here</a>. Results will be available
      once the election is completed.
    </p>

    <small>Dont send this email to anyone, Do not reply to this email. Thank
      you.</small>
  </body>
</html>